@import "tailwindcss";

@layer base {
  :root {
    /* Colores editoriales */
    --background: #eff2f9;
    --surface: #e4ebf1;
    --border: #b5bfc6;
    --text: #6e7f8d;
    --text-strong: #2f3a44;

    --olive: #6f7f4e;
    --beige: #d2c4b2;
    --ocre: #936917;
    /* Tipografías */
    /* --font-heading: "adobe-garamond-pro", serif; */
    --font-heading: "magister", serif;
    --font-body: "source sans 3", sans-serif;
    --font-article: "source-serif-4", serif;
  }
  .article-content {
    font-family: var(--font-article);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.85;
  }
  
  .article-content h2 {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 2rem;
  }

  .article-content h3 {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 1.5rem;
  }
  .article-subtitle {
  max-width: 720px;
  margin: 2rem auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--text-strong);
  text-align: center;
}

  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
